@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME </h1>
    <h1 class="display-2">14 time european champion</h1>
    <h2 class="display-2">35 La Liga</h2>
    <h3 class="display-2">4 Club World cup</h3>
     <p>real madrid  <a href="https://www.realmadrid.com/fr">official website</a>.</p>
</div>
