@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h1 class="display-4">Politique de Protection des Données </h1>
    <div>
        Le REAL MADRID C.F. (également REAL MADRID ou “le Club”), met à votre disposition la présente information concernant le traitement de vos données personnelles afin que vous ayez connaissance des points suivants:
        Pourquoi nous avons besoin de traiter vos données.
        Lesquelles de vos données pouvoir nous avoir et pour quelle durée.
        Avec qui nous les partageons.
        Quels sont vos droits et comment pouvez-vous les exercer.
        Le REAL MADRID traite les données personnelles des différents personnes physiques avec lesquels il est en relation pour réaliser diverses activités. 
        Ainsi, vos données personnelles peuvent être utilisées de différentes manières et partager avec différentes personnes en fonction de chacune des finalités concrètes dont nous avons besoin.
        Par la suite, nouveau proposons une information détaillée sur chacun de ces traitements de données. 
        En aucun cas, nous n'exécutons des décisions exclusivement automatisées ou profilées qui peuvent vous affecter gravement.
         De la même manière, nous ne destinons pas non plus vos données personnelles à des fins ultérieures différentes de celles annoncées dans ce document.
    </div>
    
     <p>Identity: Real Madrid Club de Futbol
        Postal address: Av. Concha Espina, número 1, 28036, Madrid
        Contact Data Protection Office: protecciondedatos@corp.realmadrid.com 
         <a href="https://www.realmadrid.com/en/privacy-policy">Official Privacy Policy</a>.</p>
</div>
  <div class="text-center">
    <h1 class="display-4">MEMBERS </h1>
    <div>
        Management of your membership status, including this service, the modification and/or updating of your data, changing of personal data, modification of bank account details, updating the members of the family unit, updating of photos, requesting of duplicates, monitoring of payments and status of social quotas, management of the financing of social quotas, management of the request for the reduction of quotas. In the same way, your data will be processed for the application of football or basketball subscription management, request for visits to the Sports City, management of the purchase of tickets at the Santiago Bernabéu Stadium and on trips outside the stadium such as basketball and Real Madrid Castilla, in case it is necessary due to its physical condition, the management of the ticket and circulation of the sports grounds, request for tickets for the concerts held at the Santiago Bernabéu Stadium, and the management of complaints, claims and/or suggestions.
    </div>
     <p>Identity: Real Madrid Club de Futbol</p>
      <p>Postal address: Av. Concha Espina, número 1, 28036, Madrid</a>.</p>
       <p>Contact Data Protection Office: protecciondedatos@corp.realmadrid.com </a>.</p>
     <p><a href="https://www.realmadrid.com/en/privacy-policy">Official Privacy Policy</a>.</p>
</div>